<p style="color: green"><%= notice %></p>

<h1>Posts Page</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>
<%= link_to "New post", new_post_path %>

<h1>検索</h1>
<p>空欄で区切ると複数検索できます</p>
<%= form_with model: @search_posts_form, url: posts_path, method: :get, scope: :q,local: true do |f| %>
  <%= f.label :title_start %>
  <%= f.search_field :title_start %>
  <%= f.label :body_cont %>
  <%= f.search_field :body_cont %>
  <%= f.label :status %>
  <%= f.select :status, Post.statuses,{include_blank: "選択しない"} %> 
  <%= f.submit "検索！！" %>
<%end%>

<%= link_to "Back To Top" ,root_path%>